<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.BookMapper">

    <select id="selectBookByName" parameterType="String" resultType="com.example.test.bean.BookBean">
        SELECT *
        FROM books
        WHERE name = #{name};
    </select>

    <insert id="insertBook" parameterType="com.example.test.bean.BookBean">
        INSERT INTO books(name, author, number)
        VALUES (#{name}, #{author}, #{number});
    </insert>

    <delete id="deleteBook" parameterType="String">
        DELETE
        FROM books
        WHERE id = #{id};
    </delete>

    <update id="updateBook" parameterType="com.example.test.bean.BookBean">
        UPDATE books
        SET name   = #{name},
            author = #{author},
            number = #{number}
        WHERE id = #{id};
    </update>

    <select id="getAllBook" resultType="com.example.test.bean.BookBean">
        SELECT *
        FROM books;
    </select>
</mapper>